<div>
  <button
    #button
    mat-button
    [matMenuTriggerFor]="belowMenu"
    #menuTriggerMyBudget="matMenuTrigger"
    (mouseenter)="buttonEnter(menuTriggerMyBudget)"
    (mouseleave)="buttonLeave(menuTriggerMyBudget, button)"
    style="z-index: 1050"
  >
    {{ tabName }}
  </button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <span
      (mouseenter)="menuenter()"
      (mouseleave)="menuLeave(menuTriggerMyBudget, button)"
    >
      <button mat-menu-item *ngFor="let subTab of subTabs">{{ subTab }}</button>
    </span>
  </mat-menu>
</div>
