@if (categoriesViewModel$ | async; as vm) {
<div class="categories-container">
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Expenses">
      <div class="expenses">
        <span
          class="category"
          *ngFor="let expenseCategory of vm.expenseCategories"
          (click)="openUpdateCategoryDialog(expenseCategory)"
          >{{ expenseCategory.name }}</span
        >
      </div>
    </mat-tab>
    <mat-tab label="Income">
      <div class="income">
        <span
          class="category"
          *ngFor="let incomeCategory of vm.incomeCategories"
          (click)="openUpdateCategoryDialog(incomeCategory)"
          >{{ incomeCategory.name }}</span
        >
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
}
