<div class="add-category">
  <div class="input">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Category Name"
        [(ngModel)]="categoryName"
        name="categoryName"
        required
      />
    </mat-form-field>
    <form>
      <mat-form-field>
        <mat-label>Parent</mat-label>
        <input
          type="text"
          matInput
          [formControl]="parentTypeControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="buttons-container">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" type="submit">Save</button>
  </div>
</div>
