<mat-toolbar class="toolbar" color="primary">
  <span>
    <button *ngIf="mobileView" mat-icon-button class="">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="clickable" routerLink="">Enhanced Spending Tracker</span>
  </span>
  <span class="menu-bar">
    <app-menu-dropdown
      [tabName]="'My Budget'"
      [subTabs]="['Spending', 'Transactions', 'Categories']"
    ></app-menu-dropdown>
    <app-menu-dropdown
      [tabName]="'Summary'"
      [subTabs]="['Income & Expenses', 'Cash Flow', 'Sankey']"
    ></app-menu-dropdown>
    <app-menu-dropdown
      [tabName]="'Net Worth'"
      [subTabs]="['Overview', 'Accounts']"
    ></app-menu-dropdown>
    <app-menu-dropdown
      [tabName]="'Planning'"
      [subTabs]="['Yearly income breakdown', 'Retirement', 'Budget', 'Goals']"
    ></app-menu-dropdown>

    <!-- <button mat-button class="" routerLink="/spending">My Budget</button>
    <button mat-button class="" routerLink="/categories">Categories</button>
    <button mat-button class="" routerLink="/summary">Summary</button>
    <button mat-button class="" routerLink="/net-worth">Net Worth</button> -->
  </span>
  <span>
    <mat-icon class="account clickable">person_outline</mat-icon>
  </span>
</mat-toolbar>
