<div class="toolbar-container">
  @switch (currentComponent) { @case ('home') { } @case ('spending') { } @case
  ('categories') {
  <button
    class="add-button clickable"
    mat-icon-button
    (click)="openAddCategoryDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
  } @case ('summary') {
  <div class="summary-container">
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select
        [(value)]="selectedChartsDateValue"
        (selectionChange)="handleOptionChange($event.value)"
      >
        <mat-option value="30Days">30 Days</mat-option>
        <mat-option value="90Days">90 Days</mat-option>
        <mat-option value="ytd">Year to Date</mat-option>
        <mat-option value="1Year">1 Year</mat-option>
        <mat-option value="lastYear">Last Year</mat-option>
        <mat-option value="custom">Custom</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Start date"
          [(ngModel)]="startDate"
          (dateChange)="handleOptionChange('custom')"
        />
        <input
          matEndDate
          placeholder="End date"
          [(ngModel)]="endDate"
          (dateChange)="handleOptionChange('custom')"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button class="add-button clickable" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  } @case ('networth') { } @case ('planning') { } @default { } }
</div>
<hr class="grey-line" />
