.toolbar {
    display: flex;
    justify-content: space-between;
}

.menu-bar {
    display: flex;
    flex-direction: row;
}

.account {
    margin: 0px;
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
}