<p>
    <mat-toolbar class="toolbar" color="primary">
        <span>
            <button *ngIf="mobileView" mat-icon-button class="" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>Enhanced Spending Tracker</span>
        </span>
      <span>
          <button mat-button class="" routerLink="">
            My Budget
          </button>
          <button mat-button class="">
            Summary
          </button>
          <button mat-button class="">
            Net Worth
          </button>
      </span>
    </mat-toolbar>
  </p>