<div class="summary-container">
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="expensePieChartData"
    [gradient]="gradient"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-advanced-pie-chart>

  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="expensePieChartData"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-pie-chart>
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="incomePieChartData"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-pie-chart>
  <span style="margin-top: 100px">
    <ngx-charts-sankey
      [view]="view"
      [results]="sankeyData"
      [scheme]="colorScheme"
      [schemeType]="schemeType"
      [customColors]="customColors"
      [tooltipDisabled]="tooltipDisabled"
      [animations]="animations"
      [showLabels]="showLabels"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-sankey>
  </span>
</div>
